mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #E5C3CA; /* Green color */
  color: white; /* Text color */
}

.spacer {
  flex: 1 1 auto; /* Pushes the links to the right */
}

nav a {
  color: rgb(0, 0, 0); /* Link color */
  font-weight: bolder;
}

nav button {
  color: rgb(0, 0, 0); /* Button color */
  font-weight: bolder;
}
