/* You can add global styles to this file, and also import other style files */
/* styles.css */
/* Success Snack Bar */
.snack-bar-success {
  background-color: #4caf50; /* Green for success */
  color: #fff;
}

/* Error Snack Bar */
.snack-bar-error {
  background-color: #f44336; /* Red for error */
  color: #fff;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
